/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f5;
    color: #333;
    text-align: center;
}

/* Header */
header {
    background: linear-gradient(45deg, #4e89ae, #86b3d1, #adcbe3);
    color: #fff;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

/* Section for projects */
#projects {
    padding: 20px;
}
#projects h2 {
    color: #4e89ae;
    font-size: 1.6em;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 12px 0;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: #4e89ae;
    font-weight: bold;
    border-bottom: 2px solid #adcbe3;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #adcbe3;
    color: #fff;
}

/* Footer */
footer {
    background: #4e89ae;
    color: #fff;
    padding: 10px;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.15);
}

header h1 {
    font-size: 2em;
    margin: 0;
}
