/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9fc;
    color: #333;
    text-align: center;
}

/* Header */
header {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(45deg, #ff5e78, #ff9d76, #ffd081);
    color: #fff;
    padding: 30px 20px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.4em;
    margin: 0;
}

header p {
    font-size: 1.1em;
    line-height: 1.5;
}

/* Section for projects */
#projects {
    padding: 30px 20px;
}
#projects h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ff5e78;
    font-size: 1.8em;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 15px 0;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #ff5e78;
    font-weight: bold;
    border-bottom: 2px solid #ff9d76;
    padding: 6px 12px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #ff9d76;
    color: #fff;
}

/* Footer */
footer {
    font-family: 'Roboto', sans-serif;
    background: #ff5e78;
    color: #fff;
    padding: 15px;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.15);
}
